
# Machine Learning Based Recommendation Systems
##  Model-based Collaborative Filtering Systems
## SVD Matrix Factorization

In [1]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.decomposition import TruncatedSVD

The MovieLens dataset was collected by the GroupLens Research Project at the University of Minnesota. You can download the dataset for this demostration at the following URL: https://grouplens.org/datasets/movielens/100k/

### Preparing the data

In [2]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
frame = pd.read_csv('ml-100k/u.data', sep='\t', names=columns)
frame.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [3]:
columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|', names=columns, encoding='latin-1')
movie_names = movies[['item_id', 'movie title']]
movie_names.head()

   item_id        movie title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
combined_movies_data = pd.merge(frame, movie_names, on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp   movie title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [5]:
combined_movies_data.groupby('item_id')['rating'].count().sort_values(ascending=False).head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [16]:
filter = combined_movies_data['item_id']==50
combined_movies_data[filter]['movie title'].unique()

array(['Star Wars (1977)'], dtype=object)

### Building a Utility Matrix

In [17]:
uMatrix = pd.pivot_table(combined_movies_data, columns='movie title', index='user_id', values='rating', fill_value=0)
uMatrix.head()

movie title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,2,5,0,0,3,4,0,0,...,0,0,0,5,3,0,0,0,4,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,0,0,0,0,4,0,0,...,0,0,0,4,0,0,0,0,4,0

### Transposing the Matrix

In [18]:
uMatrix.shape

(943, 1664)

In [33]:
X = uMatrix.T
X.shape

(1664, 943)

### Decomposing the Matrix

In [37]:
SVD = TruncatedSVD(n_components=12, random_state=17)
resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(1664, 12)

### Generating a Correlation Matrix

In [53]:
corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(1664, 1664)

### Isolating Star Wars From the Correlation Matrix

In [58]:
star_wars_idx = list(uMatrix.columns).index('Star Wars (1977)')
star_wars_idx

1398

In [60]:
corr_star_wars = corr_mat[star_wars_idx]
corr_star_wars.shape

(1664,)

### Recommending a Highly Correlated Movie

In [78]:
list(uMatrix.T[corr_star_wars >= 0.9].index)

['Die Hard (1988)',
 'Empire Strikes Back, The (1980)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Return of the Jedi (1983)',
 'Star Wars (1977)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Toy Story (1995)']

In [76]:
similar_movie = pd.DataFrame(corr_star_wars, index=uMatrix.columns, columns=['corr'])
best_pick_idx = similar_movie.drop('Star Wars (1977)').values.argmax()
similar_movie.index[best_pick_idx]

'Return of the Jedi (1983)'

In [84]:
similar_movie.sort_values('corr', ascending=False)

                                                  corr
movie title
Star Wars (1977)                              1.000000
Return of the Jedi (1983)                     0.988115
Terminator 2: Judgment Day (1991)             0.941981
Toy Story (1995)                              0.934762
Terminator, The (1984)                        0.931440
Raiders of the Lost Ark (1981)                0.924563
Empire Strikes Back, The (1980)               0.923533
Fugitive, The (1993)                          0.915147
Die Hard (1988)                               0.908625
Aliens (1986)                                 0.890215
Indiana Jones and the Last Crusade (1989)     0.887572
Rumble in the Bronx (1995)                    0.887104
Star Trek: First Contact (1996)               0.886732
Twelve Monkeys (1995)                         0.882693
Men in Black (1997)                           0.880778
Blade Runner (1982)                           0.878576
Braveheart (1995)                             0.878009
Hunt for Red October, The (1990)              0.875620
Star Trek: The Wrath of Khan (1982)           0.872842
Alien (1979)                                  0.871680
Highlander (1986)                             0.868512
Jackie Chan's First Strike (1996)             0.868308
Godfather, The (1972)                         0.862059
Fifth Element, The (1997)                     0.859882
Willy Wonka and the Chocolate Factory (1971)  0.859720
Princess Bride, The (1987)                    0.858007
GoldenEye (1995)                              0.857485
Strange Days (1995)                           0.855935
Speed (1994)                                  0.855035
Pulp Fiction (1994)                           0.852564
...                                                ...
Visitors, The (Visiteurs, Les) (1993)         0.016494
Full Speed (1996)                             0.008944
Bent (1997)                                   0.007364
Swept from the Sea (1997)                     0.004974
Twisted (1996)                                0.000745
Letter From Death Row, A (1998)              -0.003249
Assignment, The (1997)                       -0.008329
Smile Like Yours, A (1997)                   -0.010643
Infinity (1996)                              -0.015450
For the Moment (1994)                        -0.025604
Chairman of the Board (1998)                 -0.026555
Incognito (1997)                             -0.041741
Night Flier (1997)                           -0.057575
Truman Show, The (1998)                      -0.059993
Ayn Rand: A Sense of Life (1997)             -0.061321
Big Bang Theory, The (1994)                  -0.062495
Other Voices, Other Rooms (1997)             -0.062495
Star Kid (1997)                              -0.074797
Leading Man, The (1996)                      -0.075798
B. Monkey (1998)                             -0.079771
Mat' i syn (1997)                            -0.079771
Tokyo Fist (1995)                            -0.091300
Mirage (1995)                                -0.092553
Hugo Pool (1997)                             -0.096019
Hush (1998)                                  -0.097253
Men of Means (1998)                          -0.098268
Further Gesture, A (1996)                    -0.102357
Locusts, The (1997)                          -0.104036
Scarlet Letter, The (1995)                   -0.123180
Lay of the Land, The (1997)                  -0.172251

[1664 rows x 1 columns]