# Simple Approaches to Recommender Systems

## 1. Popularity-Based Recommenders

In [2]:
# import libraries
import pandas as pd
import numpy as np

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

They were originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [3]:
# import data
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

In [4]:
# explore data
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [5]:
# explore data
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [6]:
'''
rating_count = pandas dataframe containing 'placeID' and'rating' columns where
placeID = id of a restaurant
rating = count of all rating for each restaurant 
'''
>> 
# then use 'sort_values' to display rating in decending order
>>

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [7]:
'''
summary = pandas dataframe having 'index', 'placeID' and 'Rcuisine' columns where 
index = np.arange(5)
placeID = id of a restaurant
Rcuisine = restaurant cuisine from 'cuisine' dataframe
''' 
>>
>>
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [8]:
# describe cuisine['Rcuisine']
>>

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object